@model LabbASPclient.Models.Artiklar

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" type="text/css" href="~/css/DetailsCss.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=B612:ital@1&display=swap" rel="stylesheet">
<br />
<br />
<h1>Artikelnsdetaljer</h1>
<br />
<div>
    <hr />
    <table class="table table-dark table-hover">
        <tr>
            <th>
                Id
            </th>
            <th>
                Produktnamn
            </th>
            <th>
                Produktbeskrivning
            </th>
            <th>
                Pris
            </th>
            <th>
                Antal
            </th>
            <th>
                Tillverkare
            </th>
        </tr>
        <tbody>
        <td>@Html.DisplayFor(model => model.Id)</td>
        <td>@Html.DisplayFor(model => model.Produktnamn)</td>
        <td>@Html.DisplayFor(model => model.Produktbeskrivning)</td>
        <td>@Html.DisplayFor(model => model.Pris)</td>
        <td>@Html.DisplayFor(model => model.Antal)</td>
        <td>@Html.DisplayFor(model => model.Tillverkare)</td>
        </tbody>
    </table>
</div>
<div>
    <a class="a" asp-action="Edit" asp-route-id="@Model.Id">Ändra</a> |
    <a class="a" asp-action="Index">Tillbaka till listan</a>
</div>
